<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List product</title>
    <style>
      .products img {
        width: 300px;
      }

    </style>
  </head>
  <body>
    <a href="./add">Thêm sản phẩm</a>
    <br />

    <% list.forEach(function(product){%>
    <div class="products">
<img class=".products_img" src="./upload/<%-product.image %>"" alt="" />
      <div class="productType"><%-product.type%></div>
      <div class="productName"><%-product.name%></div>
      <div class="productPrice"><%-product.price%></div>
      <div class="button">
        <a href="./edit/<%- product. _id%>">Edit</a>
        <a
          onclick="return confirm('Bạn có muốn xóa không')"
          href="./delete/<%- product. _id%>"
          >Delete</a
        >
 </div>
    </div>
    <% }); %>
  </body>
</html>
